<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="inicio">
            <img src="../../../assets/imagenes/logo club.png" alt="logoClub" width="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aviso de privacidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nosotros</a>
                </li>
            </ul>

                <li class="navbar-nav nav-item d-flex">
                    <a class="nav-link" href="#">registrate</a>
                </li>
                <li class="navbar-nav nav-item d-flex">
                    <a class="nav-link" href="#">login</a>
                </li>
                <li class="navbar-nav nav-item d-flex">
                    <a class="nav-link" >Jorge Luis Flores Assad</a>
                </li>

        </div>
    </div>
</nav>