<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="inicio">
            <img src="../../../assets/imagenes/logo club.png" alt="logoClub" width="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/inicio" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cursos" routerLinkActive="active">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/nosotros" routerLinkActive="active">Sobre nosotros</a>
                </li>
            </ul>

                <li class="navbar-nav nav-item d-flex">
                    <a class="nav-link" routerLink="/auth/registro" routerLinkActive="active">registrate</a>
                </li>
                <li class="navbar-nav nav-item d-flex">
                    <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">login</a>
                </li>

        </div>
    </div>
</nav>