<div class="fondo-modal-imagen animated fadeIn fast" [class.oculto]="modalImagenService.ocultarModal">

	<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block; padding-right: 15px;">
		
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                            <span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body">

					<h3>Seleccione una imagen</h3>
					<div class="text-center video-container">
						<video #videoElement [hidden]="!cameraOn" autoplay></video>
						<img *ngIf="!imgTemp" [src]="modalImagenService.img" class="img-avatar">
						<img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
					</div>

					<input type="file" (change)="cambiarImagen($any($event.target).files[0])" accept="image/png, image/jpeg, image/jpg">
					
					<button (click)="startCamera()" *ngIf="!cameraOn">Acceder a la Cámara</button>
					<button (click)="takePhoto()" [hidden]="!cameraOn || photoTaken">Tomar Foto</button>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">
                        Cancelar
                    </button>
					<button type="button" class="btn btn-primary" (click)="subirImagen()">Actualizar imagen</button>
				</div>
			</div>
		</div>
	</div>

</div>