.lista{
    display: flex;
    flex-direction: column;
}

.titu{
    display: flex;
}

mat-icon{
    font-size: 20px;
}

.tit{
    color: #521a49;
    font-size: 18px;
}

.tit:hover{
    color: #dfd2b0;
}

.cerrar{
    display: flex;
}

mat-expansion-panel {
    background-color: white;
}

