<app-navbar ></app-navbar>

<div class="container mt-4">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <h1 class="text-primary text-center">Avisos de Privacidad</h1>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-1"></div>
        <div class="col">
            <!-- Avisos de privacidad -->
            <section >
                <p>En el Club de Natación, nos comprometemos a proteger la privacidad de nuestros usuarios. Esta política de privacidad describe cómo recopilamos, usamos y protegemos la información personal que recopilamos.</p>
        
                <h2 class="text-center">Información Recopilada</h2>

                <p>Para registrarse en nuestro club, solicitamos su dirección de correo electrónico. Esta información se utiliza únicamente para identificar y comunicarnos con nuestros usuarios.</p>

                <h2 class="text-center">Uso de la Información</h2>

                <p>La dirección de correo electrónico proporcionada durante el registro se utiliza para enviar comunicaciones importantes relacionadas con el club, como actualizaciones, eventos y cambios en las políticas.</p>

                <h2 class="text-center">Cambios en la Información de Usuario</h2>

                <p>Los usuarios tienen la opción de cambiar la foto de su cuenta una vez que están autenticados en el sistema. Esta función está diseñada para personalizar la experiencia del usuario y no se utiliza con fines publicitarios.</p>

                <h2 class="text-center">Derechos ARCO</h2>

                <p>De acuerdo con la legislación aplicable, nuestros usuarios tienen el derecho de Acceder, Rectificar,
                    Cancelar u Oponerse al tratamiento de sus datos personales. Para ejercer estos derechos, los usuarios
                    pueden ponerse en contacto con nosotros a través de la dirección de correo electrónico 
                    <a href="mailto:club@cuervo.com">club@cuervo.com</a>.</p>

                <h2 class="text-center">Seguridad</h2>

                <p>Nos comprometemos a proteger la seguridad de la información personal de nuestros usuarios. Implementamos medidas de seguridad para garantizar la confidencialidad de la información.</p>

                <h2 class="text-center">Modificaciones en la Política de Privacidad</h2>

                <p>Nos reservamos el derecho de realizar cambios en nuestra política de privacidad. Cualquier cambio será notificado a los usuarios a través de la dirección de correo electrónico proporcionada o mediante avisos en nuestra página web.</p>

                <p class="mt-4">Última actualización: [12/11/2024]</p>
            </section>
            
            <!-- Terminos y condiciones -->
            <section class="my-4">
                <h2 class="text-center">Términos y Condiciones</h2>

                <p>Al utilizar nuestro sitio web y servicios, aceptas los siguientes términos y condiciones:</p>
        
                <ol>
                    <li>Los usuarios deben proporcionar información precisa y actualizada durante el proceso de registro.</li>
                    <li>Se prohíbe el uso indebido del sitio web, incluyendo la violación de la seguridad del sistema o la recopilación no autorizada de datos de otros usuarios.</li>
                    <li>Los usuarios son responsables de mantener la confidencialidad de sus credenciales de inicio de sesión.</li>
                    <li>El Club de Natación se reserva el derecho de modificar o suspender los servicios en cualquier momento sin previo aviso.</li>
                </ol>
        
                <p>Estos términos y condiciones están sujetos a cambios. Se recomienda revisar esta sección regularmente para estar informado de las actualizaciones.</p>
            </section>
        </div>
    </div>
    
    

</div>

<app-footer></app-footer>