<app-navbar></app-navbar>

<div class="my-4">
    <div class="container">
        <div class="row">
            <div class="col">
                    <h4 class="text-center titulo">
                        SOMOS UN CLUB QUE BUSCA MEJORAR TUS CAPICADES HASTA EL SIGUIENTE
                        NIVEL
                    </h4>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"><span class="text-center spanes ">Revisa Nuestros Cursos
            </span></div>
            <div class="col"></div>
        </div>
    </div>

    <div class="imagenCenter">
        
    </div>

</div>

<div class="container my-3">
    <div class="row text-center">
        <div class="col">
            <h5  class="textosC mb-4">Jovenes</h5>
            <img  class="img-fluid imagenRedonda" src="../../../assets/imagenes/nina.png">
        </div>
        <div class="col">
            <h5 class="textosC mb-4">Adultos</h5>
            <img class="img-fluid imagenRedonda" src="../../../assets/imagenes/senos.png">
        </div>
        <div class="col">
            <h5 class="textosC mb-4">Adultos Mayores</h5>
            <img class="img-fluid imagenRedonda" src="../../../assets/imagenes/awes.png">
        </div>
    </div>
</div>


<app-footer></app-footer>