html, body { 
    
    height: 100%; 

    overscroll-behavior-y: contain;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
